:root {
  --white: rgba(255, 255, 255, 1);
  --grey-50: rgba(246, 246, 246, 1);
  --grey-100: rgba(231, 231, 231, 1);
  --grey-200: rgba(209, 209, 209, 1);
  --grey-300: rgba(176, 176, 176, 1);
  --grey-400: rgba(136, 136, 136, 1);
  --grey-500: rgba(109, 109, 109, 1);
  --grey-600: rgba(93, 93, 93, 1);
  --grey-700: rgba(79, 79, 79, 1);
  --grey-800: rgba(69, 69, 69, 1);
  --grey-900: rgba(61, 61, 61, 1);
  --grey-950: rgba(0, 0, 0, 1);
  --red-50: rgba(254, 242, 242, 1);
  --red-100: rgba(253, 227, 227, 1);
  --red-200: rgba(253, 203, 203, 1);
  --red-300: rgba(250, 167, 167, 1);
  --red-400: rgba(245, 116, 116, 1);
  --red-500: rgba(236, 71, 71, 1);
  --red-600: rgba(216, 42, 42, 1);
  --red-700: rgba(182, 31, 31, 1);
  --red-800: rgba(158, 31, 31, 1);
  --red-900: rgba(125, 31, 31, 1);
  --red-950: rgba(68, 11, 11, 1);
  --green-50: rgba(239, 254, 244, 1);
  --green-100: rgba(218, 254, 229, 1);
  --green-200: rgba(183, 251, 206, 1);
  --green-300: rgba(127, 246, 168, 1);
  --green-400: rgba(64, 232, 122, 1);
  --green-500: rgba(23, 208, 87, 1);
  --green-600: rgba(13, 172, 69, 1);
  --green-700: rgba(15, 145, 61, 1);
  --green-800: rgba(17, 106, 49, 1);
  --green-900: rgba(16, 87, 43, 1);
  --green-950: rgba(2, 49, 21, 1);
  --body-md-bold-font-family: "Inter", Helvetica;
  --body-md-bold-font-weight: 700;
  --body-md-bold-font-size: 16px;
  --body-md-bold-letter-spacing: -0.4159999847412109px;
  --body-md-bold-line-height: 126.99999809265137%;
  --body-md-bold-font-style: normal;
  --body-md-semibold-font-family: "Inter", Helvetica;
  --body-md-semibold-font-weight: 600;
  --body-md-semibold-font-size: 16px;
  --body-md-semibold-letter-spacing: -0.4159999847412109px;
  --body-md-semibold-line-height: 126.99999809265137%;
  --body-md-semibold-font-style: normal;
  --body-md-md-font-family: "Inter", Helvetica;
  --body-md-md-font-weight: 500;
  --body-md-md-font-size: 16px;
  --body-md-md-letter-spacing: -0.4159999847412109px;
  --body-md-md-line-height: 126.99999809265137%;
  --body-md-md-font-style: normal;
  --body-md-reg-font-family: "Inter", Helvetica;
  --body-md-reg-font-weight: 400;
  --body-md-reg-font-size: 16px;
  --body-md-reg-letter-spacing: -0.4159999847412109px;
  --body-md-reg-line-height: 137.00000047683716%;
  --body-md-reg-font-style: normal;
  --body-sm-semibold-font-family: "Inter", Helvetica;
  --body-sm-semibold-font-weight: 600;
  --body-sm-semibold-font-size: 14px;
  --body-sm-semibold-letter-spacing: -0.3639999866485596px;
  --body-sm-semibold-line-height: 126.99999809265137%;
  --body-sm-semibold-font-style: normal;
  --body-sm-md-font-family: "Inter", Helvetica;
  --body-sm-md-font-weight: 500;
  --body-sm-md-font-size: 14px;
  --body-sm-md-letter-spacing: -0.3639999866485596px;
  --body-sm-md-line-height: 126.99999809265137%;
  --body-sm-md-font-style: normal;
  --body-sm-reg-font-family: "Inter", Helvetica;
  --body-sm-reg-font-weight: 400;
  --body-sm-reg-font-size: 14px;
  --body-sm-reg-letter-spacing: -0.3639999866485596px;
  --body-sm-reg-line-height: 126.99999809265137%;
  --body-sm-reg-font-style: normal;
  --body-lg-bold-font-family: "Inter", Helvetica;
  --body-lg-bold-font-weight: 700;
  --body-lg-bold-font-size: 20px;
  --body-lg-bold-letter-spacing: -0.5199999809265137px;
  --body-lg-bold-line-height: 126.99999809265137%;
  --body-lg-bold-font-style: normal;
  --body-lg-semibold-font-family: "Inter", Helvetica;
  --body-lg-semibold-font-weight: 600;
  --body-lg-semibold-font-size: 20px;
  --body-lg-semibold-letter-spacing: -0.5199999809265137px;
  --body-lg-semibold-line-height: 126.99999809265137%;
  --body-lg-semibold-font-style: normal;
  --body-lg-md-font-family: "Inter", Helvetica;
  --body-lg-md-font-weight: 500;
  --body-lg-md-font-size: 20px;
  --body-lg-md-letter-spacing: -0.5199999809265137px;
  --body-lg-md-line-height: 126.99999809265137%;
  --body-lg-md-font-style: normal;
  --body-lg-reg-font-family: "Inter", Helvetica;
  --body-lg-reg-font-weight: 400;
  --body-lg-reg-font-size: 20px;
  --body-lg-reg-letter-spacing: -0.5199999809265137px;
  --body-lg-reg-line-height: 126.99999809265137%;
  --body-lg-reg-font-style: normal;
  --caption-semibold-font-family: "Inter", Helvetica;
  --caption-semibold-font-weight: 500;
  --caption-semibold-font-size: 10px;
  --caption-semibold-letter-spacing: -0.25999999046325684px;
  --caption-semibold-line-height: 126.99999809265137%;
  --caption-semibold-font-style: normal;
  --caption-reg-font-family: "Inter", Helvetica;
  --caption-reg-font-weight: 400;
  --caption-reg-font-size: 10px;
  --caption-reg-letter-spacing: -0.25999999046325684px;
  --caption-reg-line-height: 126.99999809265137%;
  --caption-reg-font-style: normal;
  --caption-md-sm-font-family: "Inter", Helvetica;
  --caption-md-sm-font-weight: 500;
  --caption-md-sm-font-size: 8px;
  --caption-md-sm-letter-spacing: -0.20799999237060546px;
  --caption-md-sm-line-height: 126.99999809265137%;
  --caption-md-sm-font-style: normal;
  --title-sm-reg-font-family: "Inter", Helvetica;
  --title-sm-reg-font-weight: 400;
  --title-sm-reg-font-size: 24px;
  --title-sm-reg-letter-spacing: -0.6239999771118164px;
  --title-sm-reg-line-height: 126.99999809265137%;
  --title-sm-reg-font-style: normal;
  --title-sm-md-font-family: "Inter", Helvetica;
  --title-sm-md-font-weight: 500;
  --title-sm-md-font-size: 24px;
  --title-sm-md-letter-spacing: -0.6239999771118164px;
  --title-sm-md-line-height: 126.99999809265137%;
  --title-sm-md-font-style: normal;
  --title-sm-semibold-font-family: "Inter", Helvetica;
  --title-sm-semibold-font-weight: 600;
  --title-sm-semibold-font-size: 24px;
  --title-sm-semibold-letter-spacing: -0.6239999771118164px;
  --title-sm-semibold-line-height: 126.99999809265137%;
  --title-sm-semibold-font-style: normal;
  --title-md-reg-font-family: "Inter", Helvetica;
  --title-md-reg-font-weight: 400;
  --title-md-reg-font-size: 32px;
  --title-md-reg-letter-spacing: -0.8319999694824218px;
  --title-md-reg-line-height: 126.99999809265137%;
  --title-md-reg-font-style: normal;
  --title-md-md-font-family: "Inter", Helvetica;
  --title-md-md-font-weight: 500;
  --title-md-md-font-size: 32px;
  --title-md-md-letter-spacing: -0.8319999694824218px;
  --title-md-md-line-height: 126.99999809265137%;
  --title-md-md-font-style: normal;
  --title-md-semibold-font-family: "Inter", Helvetica;
  --title-md-semibold-font-weight: 600;
  --title-md-semibold-font-size: 32px;
  --title-md-semibold-letter-spacing: -0.8319999694824218px;
  --title-md-semibold-line-height: 126.99999809265137%;
  --title-md-semibold-font-style: normal;
  --collection-1-BG: rgba(255, 255, 255, 1);
}
